<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.potholedetection">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
             The API key for Google Maps-based APIs.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOb5RIFNI2zFRfzMxoBLqU9wUgbA0C64U" />


        <activity android:name=".Main2Activity"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup"
            android:label="@string/app_name1"/>
        <activity android:name=".LoginSignup"
            android:label="@string/app_name1"/>
        <activity android:name=".MainActivity"
            android:label="@string/app_name1">
        </activity>
        <activity android:name=".Reportpothole"
            android:label="@string/app_name1"/>
        <activity android:name=".sideview1"
            android:label="@string/app_name1"/>
        <activity android:name=".disclaimer"
            android:label="@string/app_name1"/>
        <activity android:name=".serverupload"
            android:label="@string/app_name1"/>
        <activity android:name=".choice"
            android:label="@string/app_name1"/>
        <activity android:name=".edittopimage"
            android:label="@string/app_name1"/>
        <activity android:name=".editsideimage"
            android:label="@string/app_name1"/>
        <activity android:name=".dimensions"
            android:label="@string/app_name1"/>
        <activity android:name=".issue"
            android:label="@string/app_name1"/>
        <activity android:name=".gallerypage"
            android:label="@string/app_name1"/>
        <activity android:name=".shoe_size"
            android:label="@string/app_name1"/>
        <activity android:name=".showdimensions"
            android:label="@string/app_name1"/>
        <activity android:name=".CurrentLocation"
            android:label="@string/app_name1"/>

    </application>

</manifest>